@model IEnumerable<Student>

@{
    ViewData["Title"] = "Student Page";

    var students = @Model.Select(s => new
    {
        s.Id,
        s.SchoolId,
        Name = string.Join(" ", s.FirstName, s.LastName),
        YearLevelAndSection = string.Concat(s.YearLevel, s.Section),
        s.Program,
        s.Department
    });
}

<div>
    <h1 class="text-center">STUDENT PAGE</h1>
    <hr>
</div>

<div class="d-flex">
    <div class="mb-4 me-3 card">
        <div class="card-header">
            <h3>Filter</h3>
        </div>
        <div class="card-body">
            <form class="form" asp-action="Index" method="get">
                <div class="d-flex">
                    <input type="text" name="searchParam" class="form-control me-1" value="@ViewData["CurrentSortString"]"
                        placeholder="Search students...">
                    <button type="submit" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex-grow-1">
        <table class="table table-bordered table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th><a asp-action="Index" asp-controller="Student"
                            asp-route-sortParam="@ViewData["IdSortParam"]">Student Id</a></th>
                    <th><a asp-action="Index" asp-controller="Student"
                            asp-route-sortParam="@ViewData["NameSortParam"]">Full
                            Name</a></th>
                    <th><a asp-action="Index" asp-controller="Student"
                            asp-route-sortParam="@ViewData["YearAndSectionSortParam"]">Year and Section</a></th>
                    <th><a asp-action="Index" asp-controller="Student"
                            asp-route-sortParam="@ViewData["ProgramSortParam"]">Program</a></th>
                    <th><a asp-action="Index" asp-controller="Student"
                            asp-route-sortParam="@ViewData["DepartmentSortParam"]">Department Id</a></th>
                </tr>
            </thead>
            <tbody>
                @if (students.Count() == 0 || students.Any() == false)
                {
                    <tr>
                        <td colspan="5" class="text-center">No student records</td>
                    </tr>
                }
                @foreach (var s in students)
                {
                    <tr onclick="GoToStudentView('@s.Id')">
                        <td>@s.SchoolId</td>
                        <td>@s.Name</td>
                        <td>@s.YearLevelAndSection</td>
                        <td>@s.Program</td>
                        <td>@s.Department</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


<script>
    function GoToStudentView(studentId) {
        window.location.href = '@Url.Action("ViewStudent", "Student")' + '?itemid=' + studentId;
    }
</script>