@model SkillViewModel
@{
    ViewData["Title"] = "Skill Page";
}

<div>
    <h1 class="text-center">Skill Page</h1>
    <hr>
</div>

<div>
    <table class="table table-bordered table-sm table-hover table-striped text-center">
        <thead>
            <tr>
                <th><a asp-action="Index" asp-route-sortParam="@ViewData["NameSortParam"]">Description</a></th>
                <th><a asp-action="Index" asp-route-sortParam="@ViewData["NumberOfStudentSortParam"]">Student Count</a></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var s in @Model.Skills)
                {
                    <tr onclick="GoToSkillView('@s.Id')">
                        <td>@s.Description</td>
                        <td>@s.GetStudentCount()</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    function GoToSkillView(skillId)
    {
        window.location.href = '@Url.Action("ViewSkill", "Skill")' + '?itemId=' + skillId  
    }
</script>
