@model CourseViewModel
@{
    ViewData["Tiltle"] = "Course Page";
}

<div>
    <h1 class="text-center">Course Page</h1>
    <hr>
</div>

<div>
    <table class="table table-bordered table-sm table-hover table-striped">
        <thead>
            <tr>
                <th><a asp-action="Index" asp-route-sortParam="@ViewData["CodeSortParam"]">Course Code</a></th>
                <th><a asp-action="Index" asp-route-sortParam="@ViewData["DescriptionSortParam"]">Course Description</a></th>
                <th><a asp-action="Index" asp-route-sortParam="@ViewData["NumberOfStudentsSortParam"]">Number of Students Enrolled</a></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var c in @Model.Courses)
                {
                    <tr onclick="GoToCourseView('@c.Id')">
                        <td>@c.CourseCode</td>
                        <td>@c.CourseDescription</td>
                        <td>@c.GetNumberOfStudentsEnrolled()</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    function GoToCourseView(courseId) {
        window.location.href = '@Url.Action("ViewCourse", "Course")' + '?courseId=' + courseId;
    }
</script>