@model Course
@{
    ViewData["Title"] = "Course Page";
}

<div class="text-center">
    <h1>@Model.CourseCode</h1>
    <h2>@Model.CourseDescription</h2>
    <h3>@Model.Units - Units</h3>
</div>

<hr>


<div>
    <div class="d-flex mb-2 justify-content-between">
        <h3>List of students enrolled in @Model.CourseCode</h3>
        <div>
            <form class="d-flex gap-2" asp-action="DeleteCourse" asp-controller="Course" asp-route-itemid="@Model.Id" method="post" onsubmit="return confirmDelete()">
                <a class="btn btn-primary btn-wide" asp-action="UpdateCourse" asp-route-itemid="@Model.Id">Update Course</a>
                <input class="btn btn-primary btn-wide" type="submit" value="Delete Course">
            </form>
        </div>
    </div>
    <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th><a asp-action="ViewCourse" asp-route-courseId="@Model.Id" asp-route-sortParam="@ViewData["IdSortParam"]">Student Id</a></th>                    
                    <th><a asp-action="ViewCourse" asp-route-courseId="@Model.Id" asp-route-sortParam="@ViewData["NameSortParam"]">Name</a></th>
                    <th><a asp-action="ViewCourse" asp-route-courseId="@Model.Id" asp-route-sortParam="@ViewData["YearAndSectionSortParam"]">Year and Section</a></th>
                    <th><a asp-action="ViewCourse" asp-route-courseId="@Model.Id" asp-route-sortParam="@ViewData["ProgramSortParam"]">Program</a></th>
                    <th><a asp-action="ViewCourse" asp-route-courseId="@Model.Id" asp-route-sortParam="@ViewData["DepartmentSortParam"]">Department</a></th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.Students.Count() == 0 || @Model.Students.Any() == false)
                {
                    <tr>
                        <td colspan="5" class="text-center">No student records</td>
                    </tr>
                }
                @foreach (var s in @Model.Students)
                {
                    <tr>
                        <td>@s.SchoolId</td>
                        <td>@s.FirstName @s.LastName</td>
                        <td>@s.YearLevel@s.Section</td>
                        <td>@s.Program.Code</td>
                        <td>@s.Department.Code</td>
                    </tr>
                }
            </tbody>
        </table>
</div>

@section Scripts {
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this course?");
        }
    </script>
}
