@using PLSPEduView.Models.ViewModels;
@using PLSPEduView.Enums;
@model StudentViewModel;

@{
    ViewData["Title"] = "Student Page";

    var students = @Model.Students.Select(s => new
    {
        s.Id,
        s.SchoolId,
        Name = string.Join(" ", s.FirstName, s.LastName),
        YearLevelAndSection = string.Concat(s.YearLevel, s.Section),
        s.Program,
        s.Department
    });
}

<div>
    <h1 class="text-center">Student Page</h1>
    <hr>
</div>

<div>
    <div class="mb-2">
        <form asp-action="FilterStudent" class="d-flex gap-2" method="post">
            <input type="hidden" asp-for="AgeMinimumFilter" value="@Model.AgeMinimumFilter"/>
            <input type="hidden" asp-for="AgeMaximumFilter" value="@Model.AgeMaximumFilter"/>
            <input type="hidden" asp-for="MunicipalityFilter" value="@Model.MunicipalityFilter"/>
            <input type="hidden" asp-for="ProvinceFilter" value="@Model.ProvinceFilter"/>
            <input type="hidden" asp-for="YearLevelFilter" value="@Model.YearLevelFilter"/>
            <input type="hidden" asp-for="SectionFilter" value="@Model.SectionFilter"/>
            <input type="hidden" asp-for="ProgramFilter" value="@Model.ProgramFilter"/>
            <input type="hidden" asp-for="DepartmentFilter" value="@Model.DepartmentFilter"/>
            <input type="hidden" asp-for="SexFilter" value="@Model.SexFilter"/>
            <input type="hidden" asp-for="TypeFilter" value="@Model.TypeFilter"/>
            <input type="hidden" asp-for="SearchParameter" value="@Model.SearchParameter"/>
            <input type="submit" class="btn btn-primary w-25 text-center" value="Filter Students">
            @{
                if (ViewData["IsFiltered"] is string c && c == "true")
                {
                    <a class="btn btn-primary w-25 text-center" asp-action="ResetFilterSession">Reset Filter</a>
                }
            }
            <a class="btn btn-primary w-75 text-center" asp-action="CreateStudent">+ Create Student</a>
        </form>
    </div>
    <table class="table table-bordered table-sm table-hover table-striped text-center">
        <thead>
            <tr>
                <th onclick="sortTable(0)"><a href="#">Student Id</a></th>
                <th onclick="sortTable(1)"><a href="#">Name</a></th>
                <th onclick="sortTable(2)"><a href="#">Year and Section</a></th>
                <th onclick="sortTable(3)"><a href="#">Program</a></th>
                <th onclick="sortTable(4)"><a href="#">Department</a></th>
            </tr>
        </thead>
        <tbody id="studentTableBody">
            @{
                if (students.Any() == false)
                {
                    <tr>
                        <td colspan="5">No students registered</td>
                    </tr>
                }
                foreach (var s in students)
                {
                    <tr onclick="GoToStudentView('@s.Id')">
                        <td>@s.SchoolId</td>
                        <td>@s.Name</td>
                        <td>@s.YearLevelAndSection</td>
                        <td>@s.Program.Code</td>
                        <td>@s.Department.Code</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    function GoToStudentView(studentId) {
        window.location.href = '@Url.Action("ViewStudent", "Student")' + '?itemid=' + studentId;
    }
</script>