@model StudentWriteModel
@{
    ViewData["Title"] = "Update Student";

    var studentId = ViewData["StudentId"];
}

<form asp-action="UpdateStudent" asp-controller="Student" asp-route-itemid="@studentId" method="post" class="form">
    <div>
        <h2 class="text-center">Update @Model.FirstName's Information</h2>
    </div>
    <div>
        <div class="mb-3">
            <h4>Personal Information</h4>
            <div class="form-group mb-2">
                <label asp-for="SchoolId" class="control-label"></label>
                <input asp-for="SchoolId" class="form-control" placeholder="23-12345" value="@Model.SchoolId" />
                <span asp-validation-for="SchoolId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" value="@Model.FirstName"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" value="@Model.MiddleName"/>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" value="@Model.LastName"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group mb-2 col">
                    <label asp-for="BirthDay" class="control-label"></label>
                    <input asp-for="BirthDay" class="form-control" value="@Model.BirthDay.ToString("yyyy-MM-dd")"/>
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Sex" class="control-label"></label>
                    <select asp-for="Sex" asp-items="@Model.SexOptions" class="form-control"></select>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h4>Contact Information</h4>
            <div class="form-group mb-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="@Model.Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" type="tel" placeholder="09123456789" value="@Model.PhoneNumber"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Barangay" class="control-label"></label>
                <input asp-for="Barangay" class="form-control" type="text" value="@Model.Barangay"/>
                <span asp-validation-for="Barangay" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Municipality" class="control-label"></label>
                <input asp-for="Municipality" class="form-control" type="text" value="@Model.Municipality"/>
                <span asp-validation-for="Municipality" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" type="text" value="@Model.Province"/>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
        </div>
        <div>
            <h4>School Information</h4>
            <div class="mb-1">
                <div class="row">
                    <div class="form-group col">
                        <label asp-for="YearLevel" class="control-label"></label>
                        <select asp-for="YearLevel" class="form-control" asp-items="@Model.YearLevelOptions"></select>
                        <span asp-validation-for="YearLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="Section" class="control-label"></label>
                        <select asp-for="Section" class="form-control" asp-items="@Model.SectionOptions"></select>
                        <span asp-validation-for="Section" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="Type" class="form-control" asp-items="@Model.StudentTypeOptions"></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="form-group col">
                    <label asp-for="Program" class="control-label"></label>
                    <select asp-for="Program" class="form-control" asp-items="@Model.ProgramOptions"></select>
                    <span asp-validation-for="Program" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Department" class="control-label"></label>
                    <select asp-for="Department" class="form-control" asp-items="@Model.DepartmentOptions"></select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>
                <div class="form-group mb-2">
                    <label asp-for="CourseIds" class="control-label"></label>
                    <select asp-for="CourseIds" class="form-control select2" multiple="multiple" asp-items="@(Model.CoursesOptions)"></select>
                    <span asp-validation-for="CourseIds" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="SkillIds" class="control-label"></label>
                    <select asp-for="SkillIds" class="form-control select2" multiple="multiple" asp-items="@(Model.SkillOptions)"></select>
                    <span asp-validation-for="SkillIds" class="text-danger"></span>
                </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse mt-3 gap-2">
        <a class="btn btn-secondary btn-wide" asp-action="ViewStudent" asp-route-itemid="@studentId">Cancel</a>
        <input type="submit" value="Submit" class="btn btn-primary btn-wide">
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
}