@using PLSPEduView.Services
@{
    ViewData["Title"] = "View Student Page";
}

@model PLSPEduView.Models.DataModels.Student

<div class="container">
    <div class="mb-3">
        <h1 class="text-center">@Model.FirstName @Model.MiddleName @Model.LastName</h1>
        <hr>
    </div>
    <div>
        <div>
            <h3>Personal Information</h3>
        </div>
        <div class="personal-information">
            <table class="flex-fill personal-information-table">
                <tbody>
                    <tr>
                        <td class="personal-information-table-data"><strong>School Id:</strong></td>
                        <td>@Model.SchoolId</td>
                    </tr>                    
                    <tr>
                        <td><strong>Birth Date:</strong></td>
                        <td>@Model.BirthDay</td>
                    </tr>                    
                    <tr>
                        <td><strong>Age</strong></td>
                        <td>@Model.GetAge()</td>
                    </tr>                    
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>@Model.Email</td>
                    </tr>                    
                    <tr>
                        <td><strong>Phone Number:</strong></td>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td><strong>Address:</strong></td>
                        <td>@string.Join(',', @Model.Barangay, @Model.Municipality, @Model.Province)</td>
                    </tr>
                </tbody>
            </table>
            <table class="flex-fill personal-information-table">
                <tbody>
                    <tr style="padding-bottom: 1em;">
                        <td class="personal-information-table-data"><strong>Year Level:</strong></td>
                        <td>@Model.YearLevel</td>
                    </tr>                    
                    <tr>
                        <td><strong>Section:</strong></td>
                        <td>@Model.Section</td>
                    </tr>                    
                    <tr>
                        <td><strong>Program:</strong></td>
                        <td>@Model.Program.Description</td>
                    </tr>                    
                    <tr>
                        <td><strong>Department:</strong></td>
                        <td>@Model.Department.Description</td>
                    </tr>                    
                    <tr>
                        <td><strong>Status:</strong></td>
                        <td>@Model.Type.ToString().ToCapitalized()</td>
                    </tr>
                    <tr>
                        <td><strong>Sex:</strong></td>
                        <td>@Model.Sex.ToString().ToCapitalized()</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
    </div>
    <div>
        <h4>Courses Enrolled</h4>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Description</th>
                    <th>Units</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.Courses == null || @Model.Courses.Any() == false)
                {
                    <tr>
                        <td colspan="3">No Courses Enrolled</td>
                    </tr>
                }
                else
                {
                    @foreach (var c in @Model.Courses)
                    {
                        <tr>
                            <td>@c.CourseCode</td>
                            <td>@c.CourseDescription</td>
                            <td>@c.Units</td>
                        </tr>
                    }
                    
                    <tr>
                        <td colspan="2"></td>
                        <td><strong>@Model.GetTotalUnits() - Total Units</strong></td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    </div>
    <div>
        <h4>Skills</h4>
        <ul>
            @if (@Model.Skills == null || @Model.Skills.Any() == false)
            {
                <li>No Skills Listed</li>
            }
            else
            {
                @foreach (var skill in @Model.Skills)
                {
                    <li>@skill.Description</li>
                }
            }
        </ul>
    </div>
</div>

<style>
</style>